# Archivos y carpetas de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.log

# Archivos de entorno
.env
.env.*

# Archivos de configuración local
*.sqlite3
*.db

# Archivos de IDEs / editores
.vscode/
.idea/
*.swp

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de Git
.git
.gitignore

# Cachés de paquetes
*.egg-info/
.eggs/
*.egg
dist/
build/
pip-wheel-metadata/
*.whl

# Dependencias virtuales (no incluyas tu venv en la imagen)
venv/
.env/

# Otros archivos opcionales
coverage/
htmlcov/
__snapshots__/
